<div ui-view="" class="row">
</div>
<div class="text-center">
    <a class="btn btn-social-icon btn-github" href="https://github.com/jasenkoh/book-reviewer" target="blank"><i class="fa fa-github"></i></a>
</div>
